<%- include ./partials/header.ejs %>

<div class="non-embedded-signing">
  <h2>Sending Signature Requests</h2>

  <h3>Using Files</h3>
  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="" value="">
    <br>
    <label for="Title">Title: </label>
    <input type="text" name="" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Emaill Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="File-Path">File (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="" value="">
    <br>
    <label for="File-Path">File (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="" value="">
    <br>

    <input type="button" name="" value="Submit">
  </form>

  <h3>Using Templates</h3>

  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="" value="">
    <br>
    <label for="Client-Id">Client Id: </label>
    <input type="text" name="" value="">
    <br>
    <label for="Template-Id">Template Id:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Title">Title:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Emaill Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="" value="">
    <br>

    <input type="button" name="" value="Submit">
  </form>


</div>

<div class="embedded-signing">
  <h2>Embedded Signing</h2>

  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="" value="">
    <br>
    <label for="Cleint-Id">Client Id: </label>
    <input type="text" name="" value="">
    <br>
    <label for="Tempate-Id">Template Id:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-1-Role">Signer 1 - Role:</label>
    <input type="number" name="" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Email Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="" value="">
    <br>
    <label for="Signer-2-Role">Signer 2 - Role:</label>
    <input type="number" name="" value="">
    <br>
    <input type="button" name="" value="Submit">
  </form>

</div>

<div class="embedded-requesting">
  <h2>Embedded Requesting</h2>

  <form class="embedded-requesting-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="" value="">
    <br>
    <label for="Client-Id">Client Id: </label>
    <input type="text" name="" value="">
    <br>
    <label for="File">File (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="" value="">
    <br>
    <label for="Requester-Email-Address">Requester Email Address:</label>
    <input type="email" name="" value="">
    <br>
    <label for="Embedded-Signing">Is for Embedded Sigining? (1 - yes):</label>
    <input type="number" name="" value="">
    <br>
    <input type="button" name="" value="Submit">
  </form>

</div>

<div class="embedded-templates">
  <h2>Embedded Templates</h2>
</div>

<%- include ./partials/footer.ejs %>
