<%- include ./partials/header.ejs %>

<div class="non-embedded-signing">
  <h2>Sending Signature Requests</h2>

  <h3>Using Files</h3>
  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="ufTestMode" value="">
    <br>
    <label for="Title">Title: </label>
    <input type="text" name="ufTitle" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="ufSubject" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="ufMessage" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="ufSigner1EmailAddress" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="ufSigner1Name" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Emaill Address:</label>
    <input type="email" name="ufSigner2emailAddress" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="ufSigner2Name" value="">
    <br>
    <label for="File-Path">File 1 (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="ufFile1" value="">
    <br>
    <label for="File-Path">File 2 (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="ufFile2" value="">
    <br>

    <input type="button" name="uf-submit-button" value="Submit">
  </form>

  <h3>Using Templates</h3>

  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="utTestMode" value="">
    <br>
    <label for="Client-Id">Client Id: </label>
    <input type="text" name="utClientId" value="">
    <br>
    <label for="Template-Id">Template Id:</label>
    <input type="text" name="utTemplateId" value="">
    <br>
    <label for="Title">Title:</label>
    <input type="text" name="utTitle" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="utSubject" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="utMessage" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="utSigner1EmailAddress" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="utSigner1Name" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Emaill Address:</label>
    <input type="email" name="utSigner2EmailAddress" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="utSigner2Name" value="">
    <br>

    <input type="button" name="" value="Submit">
  </form>


</div>

<div class="embedded-signing">
  <h2>Embedded Signing</h2>

  <form class="embedded-signing-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="esTestMode" value="">
    <br>
    <label for="Cleint-Id">Client Id: </label>
    <input type="text" name="esClientId" value="">
    <br>
    <label for="Tempate-Id">Template Id:</label>
    <input type="text" name="esTemplateId" value="">
    <br>
    <label for="Subject">Subject:</label>
    <input type="text" name="esSubject" value="">
    <br>
    <label for="Message">Message:</label>
    <input type="text" name="esMessage" value="">
    <br>
    <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
    <input type="email" name="esSigner1EmailAdderess" value="">
    <br>
    <label for="Signer-1-Name">Signer 1 - Name:</label>
    <input type="text" name="esSigner1Name" value="">
    <br>
    <label for="Signer-1-Role">Signer 1 - Role:</label>
    <input type="number" name="esSigner1Role" value="">
    <br>
    <label for="Signer-2-Email-Address">Signer 2 - Email Address:</label>
    <input type="email" name="esSigner2EmailAddress" value="">
    <br>
    <label for="Signer-2-Name">Signer 2 - Name:</label>
    <input type="text" name="esSigner2Name" value="">
    <br>
    <label for="Signer-2-Role">Signer 2 - Role:</label>
    <input type="number" name="esSigner2Role" value="">
    <br>
    <input type="button" name="embedded-signer-submit-button" value="Submit">
  </form>

</div>

<div class="embedded-requesting">
  <h2>Embedded Requesting</h2>

  <form class="embedded-requesting-form" action="index.html" method="post">
    <label for="Test-Mode">Test Mode (1 - yes):</label>
    <input type="number" name="erTEstMode" value="">
    <br>
    <label for="Client-Id">Client Id: </label>
    <input type="text" name="erClientId" value="">
    <br>
    <label for="File">File (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
    <input type="text" name="erFile" value="">
    <br>
    <label for="Requester-Email-Address">Requester Email Address:</label>
    <input type="email" name="erREquesterEmailAddress" value="">
    <br>
    <label for="Embedded-Signing">Is for Embedded Sigining? (1 - yes):</label>
    <input type="number" name="erEmbeddedSigning" value="">
    <br>
    <input type="button" name="embedded-requesting-submit-button" value="Submit">
  </form>

</div>

<div class="embedded-templates">
  <h2>Embedded Templates</h2>
</div>

<%- include ./partials/footer.ejs %>
