<%- include ./partials/header.ejs %>

<div class="embedded-signing">
  <h2>Embedded Signing</h2>
</div>

<div class="embedded-requesting">
  <h2>Embedded Requesting</h2>
</div>

<div class="embedded-templates">
  <h2>Embedded Templates</h2>
</div>

<%- include ./partials/footer.ejs %>
