<%- include ./partials/header.ejs %>

  <div class="non-embedded-signing">
    <h2>Sending Signature Requests</h2>

    <a href="nonembedded"><h3>Using Files</h3><a>

    <h3>Using Templates</h3>

    <form class="embedded-signing-form" action="index.html" method="post">
      <label for="Test-Mode">Test Mode (1 - yes):</label>
      <input type="number" name="utTestMode">
      <br>
      <label for="Client-Id">Client Id: </label>
      <input type="text" name="utClientId" required>
      <br>
      <label for="Template-Id">Template Id:</label>
      <input type="text" name="utTemplateId" required>
      <br>
      <label for="Title">Title:</label>
      <input type="text" name="utTitle">
      <br>
      <label for="Subject">Subject:</label>
      <input type="text" name="utSubject">
      <br>
      <label for="Message">Message:</label>
      <input type="text" name="utMessage">
      <br>
      <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
      <input type="email" name="utSigner1EmailAddress" required>
      <br>
      <label for="Signer-1-Name">Signer 1 - Name:</label>
      <input type="text" name="utSigner1Name" required>
      <br>
      <label for="Signer-2-Email-Address">Signer 2 - Email Address:</label>
      <input type="email" name="utSigner2EmailAddress">
      <br>
      <label for="Signer-2-Name">Signer 2 - Name:</label>
      <input type="text" name="utSigner2Name">
      <br>

      <input type="button" name="" value="Submit">
    </form>


  </div>

  <div class="embedded-signing">
    <h2>Embedded Signing</h2>

    <form class="embedded-signing-form" action="index.html" method="post">
      <label for="Test-Mode">Test Mode (1 - yes):</label>
      <input type="number" name="esTestMode">
      <br>
      <label for="Cleint-Id">Client Id: </label>
      <input type="text" name="esClientId" required>
      <br>
      <label for="Tempate-Id">Template Id:</label>
      <input type="text" name="esTemplateId" required>
      <br>
      <label for="Subject">Subject:</label>
      <input type="text" name="esSubject">
      <br>
      <label for="Message">Message:</label>
      <input type="text" name="esMessage">
      <br>
      <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
      <input type="email" name="esSigner1EmailAdderess" required>
      <br>
      <label for="Signer-1-Name">Signer 1 - Name:</label>
      <input type="text" name="esSigner1Name" required>
      <br>
      <label for="Signer-1-Role">Signer 1 - Role:</label>
      <input type="number" name="esSigner1Role" required>
      <br>
      <label for="Signer-2-Email-Address">Signer 2 - Email Address:</label>
      <input type="email" name="esSigner2EmailAddress">
      <br>
      <label for="Signer-2-Name">Signer 2 - Name:</label>
      <input type="text" name="esSigner2Name">
      <br>
      <label for="Signer-2-Role">Signer 2 - Role:</label>
      <input type="number" name="esSigner2Role">
      <br>
      <input type="button" name="embedded-signer-submit-button" value="Submit">
    </form>

  </div>

  <div class="embedded-requesting">
    <h2>Embedded Requesting</h2>

    <form class="embedded-requesting-form" action="index.html">
      <label for="Test-Mode">Test Mode (1 - yes):</label>
      <input type="number" name="erTEstMode">
      <br>
      <label for="Client-Id">Client Id: </label>
      <input type="text" name="erClientId" required>
      <br>
      <label for="File">File (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
      <input type="text" name="erFile" required>
      <br>
      <label for="Requester-Email-Address">Requester Email Address:</label>
      <input type="email" name="erREquesterEmailAddress" required>
      <br>
      <label for="Embedded-Signing">Is for Embedded Sigining? (1 - yes):</label>
      <input type="number" name="erEmbeddedSigning">
      <br>
      <input type="button" name="embedded-requesting-submit-button" value="Submit">
    </form>

  </div>

  <div class="embedded-templates">
    <h2>Embedded Templates</h2>
  </div>

  <%- include ./partials/footer.ejs %>
