<%- include ./partials/header.ejs %>

<div class="embedded-signing">
  <h1>Embedded Signing</h1>
</div>

<div class="embedded-requesting">
  <h1>Embedded Requesting</h1>
</div>

<div class="embedded-templates">
  <h1>Embedded Templates</h1>
</div>

<%- include ./partials/footer.ejs %>
