<%- include ./partials/header.ejs %>

  <div class="non-embedded-signing">
    <h2>Sending Signature Requests</h2>

    <h3>Using Files</h3>
    <form class="embedded-signing-form" action="index.html" method="post">
      <label for="Test-Mode">Test Mode (1 - yes):</label>
      <input type="number" name="ufTestMode">
      <br>
      <label for="Title">Title: </label>
      <input type="text" name="ufTitle">
      <br>
      <label for="Subject">Subject:</label>
      <input type="text" name="ufSubject">
      <br>
      <label for="Message">Message:</label>
      <input type="text" name="ufMessage">
      <br>
      <label for="Signer-1-Email-Address">Signer 1 - Email Address:</label>
      <input type="email" name="ufSigner1EmailAddress" required>
      <br>
      <label for="Signer-1-Name">Signer 1 - Name:</label>
      <input type="text" name="ufSigner1Name" required>
      <br>
      <label for="Signer-2-Email-Address">Signer 2 - Email Address:</label>
      <input type="email" name="ufSigner2emailAddress" required>
      <br>
      <label for="Signer-2-Name">Signer 2 - Name:</label>
      <input type="text" name="ufSigner2Name">
      <br>
      <label for="File-Path">File 1 (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
      <input type="text" name="ufFile1" required>
      <br>
      <label for="File-Path">File 2 (path -  /Users/latoyawilliams/Downloads/example.pdf):</label>
      <input type="text" name="ufFile2">
      <br>

      <input type="button" name="uf-submit-button" value="Submit">
    </form>

  <%- include ./partials/footer.ejs %>
